   <footer>
      <div class='box_wrap clearfix'>
        <div class='box'>
          <dl>
            <dd>
              <a href='/' title='このHPについて'>トップページ</a>            </dd><dd>
              <a href='/news' title='このHPについて'>新着情報一覧</a>
            </dd><dd>
              <a href='/shops' title='このHPについて'>店舗</a>
            </dd><dd>
              <a href='/menus/' title='このHPについて'>メニュー</a>
            </dd></dl>
        </div>
        <!-- //box -->
        
        
        <div class='box'>
          <dl>
            <dd>
              <a href='/contents/etc/212/' title='このHPについて'>このHPについて</a>            </dd><dd>
              <a href='/contents/etc/207/' title='このHPについて'>SNSガイドライン</a>
            </dd><dd>&nbsp;</dd></dl>
        </div>
        <!-- //box -->
        <div class='box'>
          <dl>
            <dd>
              <a href='/feedbacks.html' title='このHPについて'>ご意見・ご感想</a>            </dd><dd>
            <a href='/contents/etc/213/' title='このHPについて'>メルマガクーポン</a></dd></dl>
        </div>
        <!-- //box -->
      </div>
      <!-- //box_wrap -->
      <div class='copyright'>&copy; 2014 Maruchiyo YAMAOKAYA Corp.</div>
    </footer>
  </body>
</html>