<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='キーワード1,キーワード2,キーワード3' name='Keywords'>
    <title>ページタイトル　｜　山岡家</title>
    <meta content='ページのdescription' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/layout.css' rel='stylesheet' type='text/css'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='../js/menu.js'></script>
    <!--[if lt IE 9]>
      <script src='../js/html5.js'></script>
      <link href='../css/ie8.css' media='all' rel='stylesheet' type='text/css'>
    <![endif]-->
  </head>
  <body class='categoryClassName'>
    <header>
      <div class='wrapper'>
        <h1>山岡家のラーメンは濃厚スープに極太麺。年中無休24時間営業中！</h1>
        <p class='logo'>
          <a href='../index.html' title='山岡家ホーム'>
            <img alt='山岡家' height='43' src='../images/logo.png' width='254'>
          </a>
        </p>
        <a class='sp-menu-btn'>
          <img alt='メニュー' src='../images/btn_menu.png' width='42'>
        </a>
        <nav id='main'>
          <ul class='second'><li>
              <a href='index.html' title='このHPについて'>このHPについて</a>
            </li><li>
              <a href='index.html' title='ご意見・ご感想'>ご意見・ご感想</a>
            </li><li>
              <a href='index.html' title='店舗'>店舗</a>
            </li><li>
              <a href='index.html' title='契約・申請情報'>メニュー</a>
            </li></ul>
          <ul class='first'><li class='twitter'>
              <a class='list_none' href='index.html' title='twitter'>
                <img alt='twitter' height='20' src='../images/icon_twitter.png' width='20'>
              </a>
            </li><li class='facebook'>
              <a class='list_none' href='index.html' title='facebook'>
                <img alt='facebook' height='20' src='../images/icon_facebook.png' width='20'>
              </a>
            </li><li>
              <a href='index.html' title='メルマガクーポン'>メルマガクーポン</a>
            </li><li>
              <a href='index.html' title='SNSガイドライン'>SNSガイドライン</a>
            </li><li>
              <a href='index.html' title='サイトマップ'>サイトマップ</a>
            </li></ul>
        </nav>
      </div>
    </header>
    <section>
      <header>
        <div class='title'>
          <p>
            <span class='eng'>
              Category
            </span>
            <span class='jp'>
              カテゴリー名
            </span>
            <a class='additional' href='#'>
              カテゴリートップへ戻る
            </a>
          </p>
        </div>
        <p class='cateName'>
          カテゴリー名
        </p>
        <div class='pageName'>
          <h1 class='pageName'>
            ページ名
          </h1>
          <nav class='breadCrumb'>
            <ul>
              <li>
                <a href='../index.html' title='トップ'>
                  トップ
                </a>
              </li>
              <li>
                <a href='#' title='カテゴリー名'>
                  カテゴリー名
                </a>
              </li>
              <li>
                <a href='#' title='サブカテゴリー名'>
                  サブカテゴリー名
                </a>
              </li>
              <li>
                <a href='#'>
                  ページ名
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- ページ内容はcontentに入れる -->
      <div class='content'>
        <h2>見出し２</h2>
        <h3>見出し３</h3>
        <h4>見出し４</h4>
        <h5>見出し５</h5>
        <h6>見出し６</h6>
        <table>
          <thead>
            <tr>
              <th>
                見出し
              </th>
              <th>
                見出し
              </th>
              <th>
                見出し
              </th>
            </tr>
          </thead>
          <tr>
            <th>見出し</th>
            <td>
              セル中身
              <br>
              セル中身
            </td>
            <td>セル中身</td>
          </tr>
          <tr>
            <th>見出し見出し</th>
            <td>セル中身</td>
            <td>セル中身</td>
          </tr>
          <tr>
            <th>見出し見出し</th>
            <td>セル中身</td>
            <td>セル中身</td>
          </tr>
          <tr>
            <th>見出し見出し</th>
            <td>セル中身</td>
            <td>セル中身</td>
          </tr>
        </table>
        <ul>
          <li>
            <a href='#'>番号なしリスト</a>
          </li>
          <li>
            <a href='#'>番号なしリスト</a>
          </li>
          <li>
            <a href='#'>番号なしリスト</a>
          </li>
        </ul>
        <ol>
          <li>
            <a href='#'>番号付きリスト</a>
          </li>
          <li>
            <a href='#'>番号付きリスト</a>
          </li>
          <li>
            <a href='#'>番号付きリスト</a>
          </li>
        </ol>
        <p>
          段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト
          <strong>
            強調強調強調強調強調
          </strong>
          段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト段落テキスト
        </p>
        <dl>
          <dt>見出し</dt>
          <dd>説明</dd>
          <dt>見出し</dt>
          <dd>説明</dd>
          <dt>見出し</dt>
          <dd>説明</dd>
        </dl>
        <h2>H2 見出しテキストが入ります。</h2>
        <div class='cols'>
          <div class='colLeft'>
            <p>
              pテキストが入ります。pテキストが入ります。<strong>pテキストが入ります。pテキストが入ります。</strong>pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。
            </p>
            <blockquote>
              <p>
                blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。<strong>blockquoteテキストが入ります。</strong>blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。blockquoteテキストが入ります。
              </p>
            </blockquote>
            <h3>H3 見出しテキストが入ります。</h3>
            <dl>
              <dt>dtテキスト（x2）</dt>
              <dd>ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。</dd>
            </dl>
            <dl>
              <dt>dtテキストdtテキスト（x2）</dt>
              <dd>ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。ddテキストが入ります。</dd>
            </dl>
            <p><img alt='ALTが入ります。' class='Left' height='150' src='http://dummyimage.com/200x200/7d767d/ffffff.png' width='200'></p>
            <p>
              pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。
            </p>
            <p><img alt='ALTが入ります。' class='Right' height='150' src='http://dummyimage.com/200x200/7d767d/ffffff.png' width='200'></p>
            <p>
              pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。
            </p>
          </div>
          <div class='colRight'>
            <h4>H4 見出しテキストが入ります。</h4>
            <p><img alt='ALTが入ります。' class='Right' height='150' src='http://dummyimage.com/200x200/7d767d/ffffff.png' width='200'></p>
            <p>
              pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。
            </p>
            <h5>H5 見出しテキストが入ります。</h5>
            <ul>
              <li>ul > liテキストが入ります。ul > liテキストが入ります。</li>
              <li>ul > liテキストが入ります。ul > liテキストが入ります。</li>
              <li>ul > liテキストが入ります。ul > liテキストが入ります。</li>
              <li>ul > liテキストが入ります。ul > liテキストが入ります。</li>
              <li>ul > liテキストが入ります。ul > liテキストが入ります。</li>
            </ul>
            <ol>
              <li>ol > liテキストが入ります。ol > liテキストが入ります。</li>
              <li>ol > liテキストが入ります。ol > liテキストが入ります。</li>
              <li>ol > liテキストが入ります。ol > liテキストが入ります。</li>
              <li>ol > liテキストが入ります。ol > liテキストが入ります。</li>
              <li>ol > liテキストが入ります。ol > liテキストが入ります。</li>
            </ol>
            <h6>H6 見出しテキストが入ります。</h6>
            <p><img alt='ALTが入ります。' class='Left' height='150' src='http://dummyimage.com/200x200/7d767d/ffffff.png' width='200'></p>
            <p>
              pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。pテキストが入ります。
            </p>
            <table>
              <caption>表のキャプション</caption>
              <thead>
                <tr>
                  <th>
                    <span>thead >th</span>
                  </th>
                  <td>
                    thead >td
                  </td>
                  <td>thead >th</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>tbody >th</th>
                  <td>tbody >td</td>
                  <td>tbody >td</td>
                </tr>
                <tr>
                  <th>tbody >th</th>
                  <td>tbody >td</td>
                  <td>tbody >td</td>
                </tr>
                <tr>
                  <th>tbody >th</th>
                  <td>tbody >td</td>
                  <td>tbody >td</td>
                </tr>
                <tr>
                  <th>tbody >th</th>
                  <td>tbody >td</td>
                  <td>tbody >td</td>
                </tr>
                <tr>
                  <th>tbody >th</th>
                  <td>tbody >td</td>
                  <td>tbody >td</td>
                </tr>
                <tr>
                  <th>tbody >th</th>
                  <td>tbody >td</td>
                  <td>tbody >td</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- //section -->
    <footer>
      <div class='box_wrap clearfix'>
        <div class='box'>
          <dl>
            <dt>サイトマップテキスト</dt><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd></dl>
        </div>
        <!-- //box -->
        <div class='box'>
          <dl>
            <dt>サイトマップテキスト</dt><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd></dl>
        </div>
        <!-- //box -->
        <div class='box'>
          <dl>
            <dt>サイトマップテキスト</dt><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd><dd>
              <a href='index.html' title='このHPについて'>サイトマップテキスト</a>
            </dd></dl>
        </div>
        <!-- //box -->
      </div>
      <!-- //box_wrap -->
      <div class='copyright'>&copy; 2014 Maruchiyo YAMAOKAYA Corp.</div>
    </footer>
  </body>
</html>
